<ion-header>
  <ion-navbar color="dark">
    <ion-title>新浪微博</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="top-div" style="position:fixed;width: 100%;">全部微博(42330)</div>
  <div style="margin: 30px 1% 30% 1%">
    <div *ngFor="let data of datas">
      <div class="box1" *ngIf="data.name=='weibo'">
        <div class="hea-div"><img class="head-image" [src]="data.data.fillData.fillImg"></div>
        <div class="wb-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.data.fillData.fillName}}
          <span class="right-div">》</span>
          <br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font1">37分钟前 &nbsp;&nbsp;来自专业版微博平台</span>
        </div>


        <br/>
        <div class="zw">
          {{data.data.fillData.content}}
        </div>
        <div class="zw">
          <img class="head-img2" [src]="videoimg">
        </div>
        <hr/>

        <div class="box2">
          <span>1300</span>
          <span>2万</span>
          <span>8000</span>
        </div>
      </div>


    </div>
    <div style="background-color: #EFEFEF;height: 15px;margin-left: -5%;"></div>

    <div *ngFor="let item of items;let n=index">
      <div>
        <div class="hea-div"><img style=" height: 50px;width: 50px;" [src]="item.ImagePath"></div>
        <div class="wb-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.UserName}}
          <span class="right-div"></span>
          <br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font1">第{{n+1}}楼 | {{item.createtime}}</span>
        </div>
      </div>
      <!--<img src="{{item.nr_src}}" style="padding-left: 1%;padding-right: 4%;">-->
      <div>
        <p>{{item.answer}}</p>
      </div>
      <div style="background-color: #EFEFEF;height: 15px;margin-left: -5%;"></div>
    </div>
  </div>
  <div *ngIf="isShow">
    <div
      style="background-color: #000;position:fixed;left: 30%;top: 38%;height: 20%;width: 40%;opacity: 0.6;border-radius: 5px; "></div>
    <div style="position:fixed;left: 30%;top: 38%; ">
      <img src="assets/img/yuyin-5.png" height="65" width="90" style="margin: 22px 0px 10px 35px;"/>
      <br>
      <label style="color: white;margin-left: 5px"> 正在收录语音,保持长按</label>
    </div>
  </div>
  <div style="position:fixed;bottom: 0px;background-color: #EFEFEF;width: 100%;">
    <img src="{{src}}" height="38" width="52"
         style="display:inline-block;margin: 0px 10px -14px 10px;" (touchstart)="mousedownd();"
         (touchend)="mouseup();"/>
    <input type="text"
           style="height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px"/>
    <button (click)="send();"
      style="background-color: #2D3451;color: white;width:70px;height: 40px;display:inline-block;margin: 10px 5px 5px 1px;border-radius:5px">
      发送
    </button>
  </div>
</ion-content>
