$color:#404040;
page-weibo {
.top-div{
  background-color: rgb(238,238,238);
  line-height: 30px;
  padding-left: 20px;
  color: rgb(126,126,126);
}
  .head-image{
    height: 50px;
    width: 50px;
  };
 .hea-div{
   padding-left: 15px;
   padding-top: 15px;
   float: left;
 };
  .wb-name{
    //padding-left: 50px;
    padding-top: 15px;
    align-self:center;
    line-height: 20px;

    //float: right;
  }
  .box1{
    dispaly:flex;

  }
  .font1
  {
    color: rgb(126,126,126);
  }
  .right-div
  {
    float: right;

  }

  .font-blue{
    color: rgb(89,135,183);
  }
  .zw{
    padding: 10px;

  }
  .box2{
    display: flex;
    //padding: 10px;
    margin: 10px;
    flex-wrap:wrap;justify-content:space-between;align-content:space-between;
    color: rgb(126,126,126);

  }

  //.scroll-content{
  //  margin-top:180px !important;
  //  margin-bottom: 65px;
  //}
  .p_content {
    color: #e8e8e8;
    margin: 20px 7% 0px;
    float: left;
    //height: 95px;
    line-height: 24px;
    //overflow-y: scroll;
    overflow-y: hidden;
    font-size: 18px;
    width: 86%;
    text-align: justify;
  }

  .header-img{
    width: 26px;
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .ss {
    float: right;
    margin: 10px 35px -10px 0px;
  }
  .ss span {
    color: #f7d56f;
    font-size: large;
  }
  .ss img {
    width: 21px;
    height: 21px;
    float: left;
    margin: 3px 5px 0px 0px;
  }

  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }

}
