<!--<ion-header>-->
<!--<ion-navbar color="dark">-->
<!--<ion-title>头脑风暴</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content class="cards-bg social-cards" #ioncontent>
  <img src="{{ImgBg}}" class="img-bg"/>
  <div class="tq-box">
    <!--<img src="assets/img/tq1.png"/>-->
    <div class="float-l" *ngFor="let item of tqList;">
      <img class="sm-img" src="{{item.Img}}"/>
      <div class="sm-name">{{item.name}}</div>
    </div>
  </div>
  <div style="padding-top: 30px;padding-left: 5%;padding-right: 5%;padding-bottom: 30px;">
    <div class="place-name">营地<span style="font-size: 14px" *ngIf="lost&&lostDuration>0">({{'迷路-剩余'+lostDuration+'天'}})</span></div>
    <div class="place-name time">第{{currentStatus.days}}天</div>
    <div class="tnfb-tilte">
      <!--{{title}}-->
      接下来该做什么
    </div>
    <!--<div style="float: left;width: 100%;margin: 20px 0;color: #516c6d;">-->
    <!--2018人回复了该帖-->
    <!--</div>-->
  </div>
  <!--<div *ngFor="let item of items;let n=index" class="pl-box">-->
  <!--<div style="margin-left: 20px;float: left;width: 100%">-->
  <!--<img style=" height: 50px;width: 50px;float: left;margin-top: 20px;" [src]="item.ImagePath">-->
  <!--<div class="time-pl-box">-->
  <!--<div style="color:white; margin-bottom:8px;">-->
  <!--<span style="font-size: large">{{item.UserName}}</span>-->
  <!--<span style="font-size: medium;padding-left: 10px">{{item.role_name}}</span>-->
  <!--</div>-->
  <!--<span style="color:#d8d8d8;margin-top: 5px;display: inline-block;">第{{n+1}}楼 | {{item.createtime}}</span>-->
  <!--</div>-->
  <!--<hr style="border-top: 1px dashed #929292;width: 73%;margin: 10px 0px 10px 15px;display: inline-block;" />-->
  <!--<span class="pl-span-word">{{item.answer}}</span>-->
  <!--</div>-->
  <!--</div>-->
  <div class="list-item-box-bd" style="margin-top: 55px;">
    <div *ngFor="let item of items;let n=index" class="pl-box">
      <div style="margin-left: 20px;">
        <img style=" height: 50px;width: 50px;float: left;margin-top: 20px;"
             [src]="item.imagePath?getFullPath(item.imagePath):'assets/img/header.png'">
        <div class="time-pl-box">
          <div style="color:#516c6d; margin-bottom:8px;">
            <span style="font-size: 20px;">{{item.userName}}</span>
            <span style="font-size: 16px;">{{item.role_name}}</span>
          </div>
          <div style="color:#516c6d;font-size: 14px;line-height: 14px;">第{{n+1}}楼 |{{item.createtime}}</div>
        </div>
        <span class="pl-span-word">{{item.answer}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="isShow"
       style="background-color: rgba(0,0,0,0.5);position:fixed;left: 30%;top: 38%;height: 20%;width: 40%;border-radius: 5px; ">
    <img src="assets/img/yuyin-5.png" style="width: 50%;margin: 15px auto 10px;display: block;"/>
    <div style="color: white;font-size: 14px;text-align: center;width: 100%;"> 正在收录语音,<br/>保持长按</div>
  </div>
  <div class="send-btm-box-bg">
    <img src="{{src}}" height="38" width="52"
         style="display:inline-block;margin: 0px 10px -14px 10px;" (touchstart)="mousedownd();"
         (touchend)="mouseup();"/>
    <!--<input  style="height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px" [(ngModel)]="value" type="text"></input>-->
    <input type="text" [(ngModel)]="inputvalue" class="send-input-bd"/>
    <button (click)="send();" class="send-btn-bd">
      发送
    </button>
  </div>
  <ion-fab right bottom style="bottom:80px;" *ngIf="btmMore">
    <button ion-fab color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <div style="position: relative;" *ngIf="currentStatus.place==1101">
        <button ion-fab (click)="lrPop()"><img src="assets/img/bot3.png"/></button>
        <span class="fab-name">老人解答</span>
      </div>
      <div style="position: relative;">
        <button ion-fab (click)="MapShow()"><img src="assets/img/bot4.png"/></button>
        <span class="fab-name">地图</span>
      </div>
      <div style="position: relative;">
        <button ion-fab (click)="fzPop()"><img src="assets/img/bot1.png"/></button>
        <span class="fab-name">背包</span>
      </div>
      <div style="position: relative;"
           *ngIf="currentStatus.place==1101||currentStatus.place==1103||currentStatus.place==1104||(currentStatus.place==1106&&canDigInMountain())">
        <button ion-fab (click)="bjPop()"><img src="assets/img/bot2.png"/></button>
        <span class="fab-name">补给</span>
      </div>
    </ion-fab-list>
  </ion-fab>
  <div class="pop-item" *ngIf="bjPopShow">
    <div class="pop-box">
      <div class="pop-top-img">
        <img src="assets/img/bot2.png"/>
      </div>
      <div class="top-box-news">
        <div class="float-l">
          <img src="assets/img/fz.png" class="float-l fz-img"/>
          <div class="float-l syfz">
            <div class="syfz-name">剩余负重</div>
            <div class="num-fz">{{currentStatus.weight}}</div>
          </div>
        </div>
        <div class="float-r" style="margin-right: 10px;">
          <img src="assets/img/jq.png" class="float-l fz-img"/>
          <div class="float-l syfz">
            <div class="syfz-name">剩余金钱</div>
            <div class="num-fz">{{currentStatus.money}}</div>
          </div>
        </div>
      </div>
      <div class="shop-list">
        <div class="shop-item" *ngFor="let good of goods;let i=index">
          <img src="assets/img/dj1.png" class="shop-img float-l"/>
          <div class="float-l" style="width: 125px;">
            <div class="shop-box-name">
              <span class="shop-name">{{good.name}}</span>
              <span class="shop-sy">剩余：{{good.remain}}</span>
            </div>
            <div class="shop-box-name">
              <span class="shop-dj">单价：{{good.price}}</span>
              <span class="shop-zl">重量：{{good.weight}}</span>
            </div>
          </div>
          <div class="float-r shop-add">
            <img src="assets/img/jian.png" class="float-l" (click)="goodReduce(good)"/>
            <input type="number" value="{{good.num}}" class="float-l shop-num"/>
            <img src="assets/img/jia.png" class="float-l" (click)="goodPlus(good)"/>
          </div>
        </div>


      </div>
      <button class="btn-green" ion-button block (click)="userAction('trade')" *ngIf="group_u">确认购买</button>
    </div>
    <img src="assets/img/close.png" class="close-btn" (click)="bjPopHide()"/>
  </div>
  <div class="pop-item" *ngIf="lrPopShow">
    <div class="pop-box">
      <div class="pop-top-img">
        <img src="assets/img/bot3.png"/>
      </div>
      <div class="wt-lr">老人：你每天可询问一个问题，我会为你解答</div>
      <div class="radio-box" *ngFor="let msg of messages;let i=index" (click)="ShowDaAn(i)">{{msg.title}}</div>

    </div>
    <img src="assets/img/close.png" class="close-btn" (click)=" bjPopHide()"/>
  </div>
  <div class="pop-item" *ngIf="lrClickPopShow">
    <div class="pop-box" style="height: 330px;">
      <div class="pop-top-img">
        <img src="assets/img/bot3.png"/>
      </div>
      <div class="wt-lr" style="margin-bottom: 10px;">老人：你每天可询问一个问题，我会为你解答</div>
      <div class="wt-lr yellow-word">你今天已经询问过了，明天可以继续询问</div>
      <div class="qk-til">{{answer}}</div>
      <!--<div class="qk-content">物品小号将提升，购买道具可抵抗高温、沙尘暴道具只可在营地购买</div>-->
    </div>
    <img src="assets/img/close.png" class="close-btn" style="top:460px;" (click)=" bjPopHide()"/>
  </div>
  <div *ngIf="mapShow">
    <img src="{{mapsrc}}" class="pop-item"/>
    <img src="assets/img/close.png" class="close-btn" style="top: 30px;left:auto;right: 20px;width: 30px;"
         (click)=" bjPopHide()"/>
  </div>
  <div class="pop-item" *ngIf="fzPopShow">
    <div class="pop-box" style="height: 425px;">
      <div class="pop-top-img">
        <img src="assets/img/bot1.png"/>
      </div>
      <div class="top-box-news">
        <div class="float-l">
          <img src="assets/img/fz.png" class="float-l fz-img"/>
          <div class="float-l syfz">
            <div class="syfz-name">剩余负重</div>
            <div class="num-fz">{{currentStatus.weight}}</div>
          </div>
        </div>
        <div class="float-r" style="margin-right: 10px;">
          <img src="assets/img/jq.png" class="float-l fz-img"/>
          <div class="float-l syfz">
            <div class="syfz-name">剩余金钱</div>
            <div class="num-fz">{{currentStatus.money}}</div>
          </div>
        </div>
      </div>
      <div class="fz-box">
        <div class="fz-item">
          <img src="assets/img/dj1.png"/>
          <div class="w-100">
            <div class="float-l">水</div>
            <div class="float-r">×{{currentStatus.water}}</div>
          </div>
          <div class="w-100">
            <!--<div class="float-l user-btn" (click)="">使用</div>-->
            <div class="float-r user-btn give-up" (click)="userAction('throw','food',1)">丢弃</div>
          </div>
        </div>
        <div class="fz-item">
          <img src="assets/img/dj2.png"/>
          <div class="w-100">
            <div class="float-l">食物</div>
            <div class="float-r">×{{currentStatus.food}}</div>
          </div>
          <div class="w-100">
            <!--<div class="float-l user-btn">使用</div>-->
            <div class="float-r user-btn give-up" (click)="userAction('throw','food',1)">丢弃</div>
          </div>
        </div>
        <div class="fz-item">
          <img src="assets/img/dj3.png"/>
          <div class="w-100">
            <div class="float-l">帐篷</div>
            <div class="float-r">×{{currentStatus.tent}}</div>
          </div>
          <div class="w-100">
            <div class="float-l user-btn" (click)="userAction('use','food',1)">使用</div>
            <div class="float-r user-btn give-up" (click)="userAction('throw','food',1)">丢弃</div>
          </div>
        </div>
        <div class="fz-item">
          <img src="assets/img/dj4.png"/>
          <div class="w-100">
            <div class="float-l">指南针</div>
            <div class="float-r">×{{currentStatus.compass}}</div>
          </div>
          <div class="w-100">
            <div class="float-l user-btn" (click)="userAction('use','food',1)">使用</div>
            <div class="float-r user-btn give-up" (click)="userAction('throw','food',1)">丢弃</div>
          </div>
        </div>
        <div class="fz-item">
          <img src="assets/img/dj5.png"/>
          <div class="float-l">金子</div>
          <div class="float-r">×{{currentStatus.gold}}</div>
        </div>
        <div class="w-100">
          <div class="float-l user-btn" ></div>
          <div class="float-r user-btn give-up" (click)="userAction('throw','food',1)">丢弃</div>
        </div>
      </div>
    </div>
    <img src="assets/img/close.png" class="close-btn" (click)="bjPopHide()"/>
  </div>
</ion-content>
