page-grouping {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .item-box{
    margin: 20px auto 30px;
    .xian{
      width: 15%;
      margin-top: 10px;
    }
    .or-word{
      width: 70%;
      font-size: 12px;
    }
  }
  .group-list-box{
    height: 50px;
    border-bottom: 1px solid #333;
    color: #ddd;
    margin-top: 20px;
    .group-list{
      height: 50px;
      background: rgba(0,0,0,0.5);
      border-radius: 5px 5px 0 0;
      width: 94%;
      margin: 0 auto;
      line-height: 50px;
      .head-icon{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        background: #fff;
        margin: -10px 0 0 10px;
        img{
          width: 40px;
          height: 40px;
          margin: 5px;
        }
      }
      .group-name{
        margin: 0 5px 0 10px;
      }
      .group-num{
        margin: 0 5px;
        color: #ffdc73;
      }
      .add-icon{
        width: 30px;
        height: 30px;
        margin: 10px;
      }
    }
  }
}
