<ion-header>
  <ion-navbar color="dark">
    <ion-title>头脑风暴</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards" #ioncontent>
  <div ion-fixed style="padding-top: 20px;padding-left: 5%;padding-right: 5%;padding-bottom: 30px;">
        <div
          style="background-color: black;background: rgba(0,0,0,0.5);border-radius: 0.3em;margin: 10px 0px 0px 0px;width: 100%;height: auto;float: left">
          <span style="height: 25px;color: #d8d8d8;margin: 10px 15px 10px 15px;float: left;font-size: large;"> {{title}}</span>
        </div>
        <!--<div style="float: left;margin-top: 10px;width: 100%">-->
          <!--<img src="assets/img/speakers/mouse.jpg" style="width: 90px;height: 90px;margin-right: 8%;"/>-->
          <!--<img src="assets/img/speakers/lion.jpg" style="width: 90px;height: 90px;margin-right: 8%;"/>-->
          <!--<img src="assets/img/speakers/eagle.jpg" style="width: 90px;height: 90px"/>-->
        <!--</div>-->
        <div style="float: left;width: 100%;margin-top: 20px;">
          <span style="color: #d8d8d8">2018人回复了该帖</span>
          <hr style="border-top: 1px solid #929292;">
        </div>
    </div>
  <!--</div>-->
  <div *ngFor="let item of items;let n=index">
    <div style="margin-left: 20px;float: left;width: 100%">
      <img style=" height: 50px;width: 50px;float: left;margin-top: 20px;" [src]="item.ImagePath">
      <div style="float: left;margin: 15px 0px 0px 15px;">
        <span style="color:white">{{item.UserName}}</span>
        <br/><span style="color:#d8d8d8;margin-top: 5px;display: inline-block;">第{{n+1}}楼 | {{item.createtime}}</span>

      </div>
      <hr style="border-top: 1px dashed #929292;width: 73%;margin: 10px 0px 10px 15px;display: inline-block;" />
      <span style="margin: 0px 45px 20px 65px;float: left;color: #d8d8d8;">{{item.answer}}</span>
    </div>
  </div>
  <div *ngIf="isShow">
    <div
      style="background-color: #000;position:fixed;left: 30%;top: 38%;height: 20%;width: 40%;opacity: 0.6;border-radius: 5px; "></div>
    <div style="position:fixed;left: 30%;top: 38%; ">
      <img src="assets/img/yuyin-5.png" height="65" width="90" style="margin: 22px 0px 10px 35px;"/>
      <br>
      <label style="color: white;margin-left: 5px"> 正在收录语音,保持长按</label>
    </div>
  </div>
  <div style="position:fixed;bottom: 0px;width: 100%;border-top: 1px solid #1aa7b8;background-color: #6f6f6f;">
    <img src="{{src}}" height="38" width="52"
         style="display:inline-block;margin: 0px 10px -14px 10px;" (touchstart)="mousedownd();"
         (touchend)="mouseup();"/>
    <!--<input  style="height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px" [(ngModel)]="value" type="text"></input>-->
    <input type="text" [(ngModel)]="inputvalue"
           style="padding-left:10px;height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px"/>
    <button (click)="send();"
            style="background-color: #2D3451;color: white;width:70px;height: 40px;display:inline-block;margin: 10px 5px 5px 1px;border-radius:5px">
      发送
    </button>
  </div>

</ion-content>
