page-tounaofb {
  .border-left{
    border-left: 1px solid #404040;
  }
  .hea-div{
    padding-left: 1%;
    padding-top: 15px;
    float: left;
  };
  .wb-name{
    //padding-left: 50px;
    padding-top: 15px;
    align-self:center;
    line-height: 20px;

    //float: right;
  }
  //.scroll-content{
  //  margin-top:210px !important;
  //  margin-bottom: 65px;
  //}
  .p_content {
    color: #e8e8e8;
    margin: 10px 0 0;
    float: left;
    //height: 95px;
    line-height: 24px;
    //overflow-y: scroll;
    overflow-y: hidden;
    font-size: 16px;
    width: 100%;
    text-align: justify;
  }

  .toolbar-content{
    height: 50px
  }

  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }

}
