<!--<page-baidutb *ngIf="name=='SG_tieba'" [s_data]="s_data" [n_id]="n_id" [g_id]="g_id"></page-baidutb>-->
<!--<page-weibo *ngIf="name=='SG_weibo'" [s_data]="s_data"></page-weibo>-->
<!--<page-tounaofb *ngIf="name=='SG_brain'" [s_data]="s_data"></page-tounaofb>-->
<!--<page-decision *ngIf="name=='SG_select'" [s_data]="s_data"></page-decision>-->
<!--<page-danmu *ngIf="name=='SG_bullet'" [s_data]="s_data"></page-danmu>-->
<!--<page-qq *ngIf="name=='SG_qq'" [s_data]="s_data"></page-qq>-->
<!--<page-qq *ngIf="name=='default'" [s_data]="s_data"></page-qq>-->
