$color:#404040;
$text-input-md-show-focus-highlight:false !default;
::-webkit-scrollbar
{
  width: 1px;
  height: 1px;
  background-color: transparent;
}
@media screen and (min-width: 700px) {
  .ion-page{
    max-width: 700px;
    left: 50%!important;
    margin-left: -350px;
  }
}
.bg{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
}
.danger-text{
  margin: 0;
  font-size: 14px;
}
.mar-btn{
  margin-top: 50px;
}
.go-login{
  font-size: 14px;
  line-height: 0;
  text-align: center;
  color: #1aa7b8;
}
.item-ios{
  .icon-forward{
    display: none;
  }
  .icon-show{
    display: block;
  }
}
.icon-forward{
  color: #9a9a9a;
  font-size: 20px;
  line-height: 35px;
}
.toolbar-content-ios{
  .head-img{
    width: 36px;
    top: auto;
    bottom: 3px;
  }
  .head-top{
    top: 13px;
  }
}
.head-img{
  width: 44px;
  position: absolute;
  top: 7px;
  right: 10px;
}
.no-date{
  text-align: center;
  margin-top: 20px;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.fixed-content{
  background: url('./../assets/img/bjt.png') no-repeat;
}
.item-box{
  font-size: 14px;
  width:80%;
  color: #959595;
  margin: 10px auto;
  overflow: hidden;
}
.or-word{
  text-align: center;
  color: #aaa;
  font-size: 20px;
  width: 20%;
}
.xian{
  height: 1px;
  background: #939393;
  width: 40%;
  margin-top: 12px;
}
.index-news-box {
  margin-top: 20px;
  float: left;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}
.mar-bottom{
  margin-bottom: 15px;
}
.button-boxs{
  .btn-green{
    height: 46px;
    background-color: #1aa7b8;
    width: 96%;
    margin: 0 auto;
  }
}
.logo{
  display: block;
  width: 25%;
  margin: 15% auto 20px;
  max-width: 200px;
}
@media (max-width: 320px) {
  .logo{
    margin: 8% auto 20px;
  }
}
.scroll-box{
  height:calc(100% - 160px);
  height:-webkit-calc(100% - 160px);
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  .box{
    margin: 0 auto;
  }
}
.send-btn-bd{
  background-color: #1aa7b8;
  color: white;
  width:18%;
  height: 40px;
  display:inline-block;
  margin: 10px 0 0;
  border-radius:5px;
}
h3{
  font-size: 1.8rem!important;
}
.send-input-bd{
  padding-left:10px;
  height:40px;
  display:inline-block;
  margin: 10px 10px 8px -1px;
  vertical-align:top;
  border-radius:5px;
  border: 0;
  width:78%;
}
@media (max-width: 319px) {
  .send-input-bd{
    width:76%;
  }
}
@media (min-width: 320px) and (max-width: 449px) {
  .send-input-bd{
    width:77%;
  }
}
@media (min-width: 500px) {
  .send-input-bd{
    width:78%;
  }
}
.pl-box{
  border-bottom: 1px dashed #aaa;
  //overflow: hidden;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  .time-pl-box{
    float: left;
    margin: 20px 0px 0px 15px;
  }
  .pl-span-word{
    float: left;
    color: #d8d8d8;
    width: 100%;
    padding:5px 20px 0 65px;
    font-size: 15px;
  }
}
.send-btm-box-bg{
  position:fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-top: 1px solid #1aa7b8;
  background-color: rgba(0,0,0,0.5);
  padding:0 10px;
}
.list-item-box-bd{
  width: 100%;
  padding-bottom: 80px;
  overflow: hidden;
}
.pop-box-all{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left: 0;
  z-index: 99999;
}
.loader {
  position: absolute;
  top:calc(50% - 50px);
  left:50%;
}
.ball-spin-fade-loader{
  position: relative;
}
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.ball-spin-fade-loader {
  position: relative;
}
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
.ball-spin-fade-loader > div {
  background-color: #1aa7b8;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
}
.load-word{
  margin-top: 50px;
  margin-left: -20px;
  color: #1aa7b8;
}
