<ion-header>
  <ion-navbar color="dark">
    <ion-title>SG PLATFORM</ion-title>
    <img src="assets/img/sx.png" class="head-img" (click)="refresh()"/>
  </ion-navbar>
</ion-header>


<div class="fixed-content" padding>
  <div class="item-box">
    <div class="xian float-l"></div>
    <div class="or-word float-l">CLASSROOM REHEARSAL 课堂演练</div>
    <div class="xian float-l"></div>
  </div>
  <div class="index-news-box mar-bottom" *ngIf="allocation">
    <img src="assets/img/weh.png" class="wen"/>
    <div class="float-l wen-word-box">
      <div>您当前未分配角色</div>
      <div>点击进入，可选择对应角色</div>
    </div>
    <div *ngIf="showBtn" class="choice-btn" (click)="goGrouping()">选择角色</div>
  </div>
  <div class="index-news-box mar-bottom" *ngIf="GroupNews">
    <img src="{{groOfStu.g_image?getFullPath(groOfStu.g_image):'assets/img/header.png'}}" class="wen"/>
    <div class="float-l wen-word-box">
      <div class="group-name">{{groOfStu.g_name}}<span *ngIf="simType=='gold'&&group_u">(组长)</span></div>
    </div>
  </div>
  <div class="scroll-box" #scrollBox>
    <ion-list no-lines  class="border-left">
      <div class="list" *ngFor="let item of items;let i = index;" >
        <button ion-item (click)="goPage(item.n_id,i)">
          <div class="float-l list-num">{{i+1}}.1</div>
          <div class="float-l list-g">|</div>
          <div class="float-l list-name">{{ item.n_name }}</div>
          <ion-icon class="icon-forward" name="ios-arrow-forward"  item-end></ion-icon>
        </button>
        <div *ngIf="indexNs[i]">
          <button ion-item *ngFor="let ns of item.ns;let idx = index;" (click)="goPage(ns.n_id,i)">
            <div class="float-l list-num">{{i+1}}.{{idx+2}}</div>
            <div class="float-l list-g">|</div>
            <div class="float-l list-name">{{ ns.n_name }}</div>
            <ion-icon class="icon-forward" name="ios-arrow-forward"  item-end></ion-icon>
          </button>
        </div>
      </div>
    </ion-list>
    <page-bottom></page-bottom>
  </div>
</div>
