<ion-header>
  <ion-navbar color="dark">
    <ion-title>QQ</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <div class="box2-1" style="position:fixed;width: 100%;">
      <span></span>
      <span style="text-align: center;">江歌事件QQ讨论群<br/>38人在线</span>
      <span style="margin-top: 3px;"><img class="head-image-2" [src]="avatar"></span>
    </div>
  <div style="margin:  50px 0px 68px 1%;" *ngFor="let item of items;let n=index">
    <div class="box1">
      <div class="hea-div"><img class="head-image-2" [src]="item.ImagePath"></div>
      <div class="wb-name">{{item.createtime}}
        <span class="span-1">{{item.UserName}}</span>
      </div>
    </div>
    <div class="zw-2">
      {{item.answer}}
    </div>
  </div>
  <div *ngIf="isShow">
    <div
      style="background-color: #000;position:fixed;left: 30%;top: 38%;height: 20%;width: 40%;opacity: 0.6;border-radius: 5px; "></div>
    <div style="position:fixed;left: 30%;top: 38%; ">
      <img src="assets/img/yuyin-5.png" height="65" width="90" style="margin: 22px 0px 10px 35px;"/>
      <br>
      <label style="color: white;margin-left: 5px"> 正在收录语音,保持长按</label>
    </div>
  </div>
  <div style="position:fixed;bottom: 0px;background-color: #EFEFEF;width: 100%;">
    <img src="{{src}}" height="38" width="52"
         style="display:inline-block;margin: 0px 10px -14px 10px;" (touchstart)="mousedownd();"
         (touchend)="mouseup();"/>
    <input type="text" [(ngModel)]="value"
           style="height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px"/>
    <button (click)="send();"
      style="background-color: #2D3451;color: white;width:70px;height: 40px;display:inline-block;margin: 10px 5px 5px 1px;border-radius:5px">
      发送
    </button>
  </div>

</ion-content>
