page-default {
  .img-box{
    margin: 40px auto;
    overflow: hidden;
  }
  .tile-img{
    font-size: 22px;
    text-align: center;
    color: #fff;
    width: 100%;
  }
  .words{
    width: 90%;
    margin: 20px auto;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }

}
