page-default {
  .img-box{
    //width: 350px;
    height: 200px;
    border:2px solid #aaa;
    margin: 20% auto;
  }
  .tile-img{
    font-size: 22px;
    text-align: center;
    color: #fff;
    width: 100%;
  }
  .words{
    width: 90%;
    margin: 20px auto;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }
}
