<ion-header>
  <ion-navbar color="dark">
    <ion-title>课堂演练</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="center">
  <div class="img-box" >
    <div *ngIf="name=='img'">
      <img src="{{src}}" style="width: 90%;margin: 0 5%;border:1px solid #aaa;"  imageViewer/>
    </div>
    <div *ngIf="name=='video'">
      <video controls="controls" src="{{src}}"></video>
    </div>
  </div>
    <div class="tile-img">
      <span >{{title}}</span>
    </div>
    <div class="words">
      <span>{{content}}</span>
    </div>
</div>
</ion-content>
