<ion-header>

  <ion-navbar color="dark">
    <ion-title>决策</ion-title>
    <img src="assets/img/user.png" class="head-img head-top" (click)="getUser()"/>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let data of datas">
    <div *ngIf="data.name=='select'">
      <div>{{data.data.text}}</div>
      <div *ngFor="let item of data.data.selectData">
        <input type="radio" name="choice" (change)="getForm(item)"/>
        <span >{{item}}</span>
      </div>
      <!-- <form class="form-box">
         <label *ngFor="let item of data.data.selectData" >&lt;!&ndash;(change)="getForm(item)"&ndash;&gt;
           <input type="radio" name="choice"/><span
           class="word">{{item}}</span>
         </label>
       </form>-->
    </div>
  </div>
  <div padding class="mar-btn">
    <button ion-button type="submit" block (click)="send()">确认投票</button>
  </div>
</ion-content>
