<ion-header>
  <ion-navbar color="dark">
    <ion-title>决策</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div  style="margin:20px 5% 0px 5%;">
      <div>{{title}}</div>
      <!--<div *ngFor="let item of common;let n = index">-->
        <!--<input type="radio" name="choice" (change)="getForm(options[n].option)"/>-->
        <!--<span style="font-size:medium;margin-bottom:20px; display:inline-block;">{{item.value}}</span>-->
      <!--</div>-->
      <form class="form-box">
         <label *ngFor="let item of common;let n = index;" (change)="getForm(options[n].option)">
            <input type="radio" name="choice" *ngIf="btnShow"/>
            <span class="option" *ngIf="btnShow"></span>
            <span class="{{item.Checked?'word word-green':'word'}}">{{item.value}}</span>
         </label>
       </form>
    </div>
  <div padding class="mar-btn"  *ngIf="group_u&&simType=='gold'">
    <button ion-button block (click)="send()" *ngIf="btnShow">确认投票</button>
  </div>
</ion-content>
