page-records {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .item > ion-icon, .item-inner > ion-icon{
    min-height: 1.8rem;
    font-size: 1.8rem;
    line-height: 1;
    color: #999998;
  }
  .item h2{
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 3rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: right;
  }
  .item p{
    font-size: 1.3rem;
    color: #aaa;
    text-align: right;
    height: 2rem;
    line-height: 3rem;
  }
  .list-md .item-block .item-inner{
    border-bottom: 0;
  }
  .item{
    background: rgba(0,0,0,0.5);
    margin: 10px 0;
    border-radius: 7px!important;
  }
}
